.navbar-default {
    background-color: inherit !important;
    border: none !important;
}

.navbar-header {
    width: 145px;
    height: 32px;
    left: 0px;
    top: 11px;
    font-size: 20px;
    padding: 8px;
}

a, a:hover, a:visited {
    color: black !important;
    text-decoration: none !important;
}

.app-body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    margin-left: 0px !important;
}

.intro {
    margin: 0 15px 0 15px;
    padding:  0 15px 0 15px;
}

.jumbotron {
    background-color: white !important;
}

.note {
    min-height: 50px;
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;

}

.editable {
    width: 50%;
}

ul.notes {
    margin-bottom: 0;
    padding-left: 10px;
    height: 70% !important;
    overflow: scroll;
}

.note-wrapper {
    min-height: 50px;
    padding: 5px 10px 5px 10px;
    background-color: #ffffff;
    border-radius: 8px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

textarea.editable {
    width: 90%;
}

.lanes {
    display: flex;
    height: 100%;
}

.lane-header, .notes, .lane-footer {
    background-color: #c3dbe4;
    padding: 10px;
}

.lane-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid white;
}

.lane-footer  {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
}

button.delete {
    margin: 8px 8px 0 0;
    font-size: 20px !important;
}

.lane {
    padding-right: 4px !important;
    padding-left: 4px !important;
  
}

.btn-default {
    background-color: transparent !important;
    border: none !important;
    font-size: 24px !important;
    color:#244471;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6px;
}

.btn-default:hover {
    border: none !important;
}

input[type="radio"] {
    display: none;
}

label {
    margin: 50px;
    color: white !important;
    height: 108px;
    border-radius: 4px;
}

svg {
    border-radius: 4px;
}

.selected-card {
    box-shadow: 0px 0px 7px rgb(121 181 34);
}
.btn:active{
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited, button {
    padding: 7px 15px !important;
    background: #498500 !important;
    border-radius: 99px !important;
    border: none !important;
    outline: none !important;
    
}

.bottom-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}

.bigSvg {
    background-color: white !important
}

h2 {
    font-style: normal;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 19px !important;
}

.card-input {
    min-height: 50px;
        border: 1px solid #C1C6CD;;
        margin: 8px;
        border-radius: 8px;
        padding: 4px;
        width: 180px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
}

.pretend-menu {
   display: flex;
   padding: 8px;
}

/*Colors of card outlines */

.noteStart, .noteSad, .noteLonged, .noteAppreciations {
    border-color: #039BE5;
}

.noteStop, .noteMad, .noteLacked {
    border-color: #FB8C00;
}

.noteContinue, .noteGlad, .noteLiked {
    border-color: #3D8B40;
}

.noteWishes {
    border-color: #D81B60;
}

.noteLearned, .notePuzzles {
    border-color: #771E86;
}

.noteRisks {
    border-color: #FFB300;
}
